/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: OpenSans-Bold;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 19px;
  margin: 5px;
}

main {
  margin: 0px 15px;
}

h2 {
  margin: 5px;
}

h1 {
  margin: 52px 0px 20px;
  font-family: OpenSans-Bold;
  font-size: 32px;
  color: #000000;
  line-height: 38px;
}

.article {
  background: #f6f6f6;
  box-shadow: 0 5px 0 0 #783df6;
  font-family: OpenSans-SemiBold;
  font-size: 20px;
  color: #000000;
  line-height: 24px;
  font-family: OpenSans-Regular;
  font-size: 20px;
  color: #000000;
  line-height: 28px;
  margin-bottom: 45px;
}

.article h3 {
  margin-top: 20px;
  margin-left: 15px;
}

.article p {
  padding: 0px 15px 15px 15px;
}

.membership {
  font-family: OpenSans-Regular;
  font-size: 20px;
  color: #ffffff;
  line-height: 28px;
  background: #000000;
}

/* finir section ship */
/* finir films article */
/* finir bouton view */

footer {
  background-color: #F9DDE7;
  padding: 30px;
  font-family: OpenSans-Regular;
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: row;
}

.article h4 {
  margin-top: 20px;
  margin-left: 15px;
}

.article-2 {
  background: #F6F6F6;
  font-family: OpenSans-Regular;
  font-size: 16px;
  color: #000000;
  background: #F6F6F6;
  line-height: 20px;
  margin: 0px 5px 5px;
  padding: 20px 10px;
}

.articlemini-1 {
  display: flex;
  justify-content: space-around;
}

.articlemini-2 {
  display: flex;
  justify-content: space-around;
}